:root {
  --fonts--primary: Sora, sans-serif;
  --colors--dark-text: #1e1e1e;
  --colors--gray-bg: #eae5eb;
  --colors--white: white;
  --fonts--secondary: "Instrument Serif", sans-serif;
  --colors--yellow-text: #ffd8b4;
  --colors--black: black;
  --colors--text-gray: #666;
}

body {
  font-family: var(--fonts--primary);
  color: var(--colors--dark-text);
  font-size: 1rem;
  line-height: 1.4;
}

a {
  color: var(--colors--dark-text);
  text-decoration: none;
}

.page_wrapper {
  background-color: var(--colors--gray-bg);
  max-width: 100vw;
  overflow: hidden;
}

.navbar {
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.section_hero {
  background-image: url('../images/glbg-min.png');
  background-position: 50%;
  background-size: cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  position: relative;
}

.nav_wrapper {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.nav_logo-wrapper {
  color: var(--colors--white);
  width: 17rem;
}

.nav_links {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav_contact {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  justify-content: flex-end;
  align-items: center;
  width: 17rem;
  display: flex;
}

.nav_logo-svg {
  width: 5.625rem;
  height: 2rem;
}

.nav_text-link {
  font-family: var(--fonts--primary);
  color: var(--colors--white);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: .625rem;
  font-weight: 500;
  line-height: 1;
}

.nav_link-block {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon16 {
  width: 1rem;
  height: 1rem;
}

.icon16.is-white {
  aspect-ratio: 1;
  color: var(--colors--white);
  justify-content: center;
  align-items: center;
  display: flex;
}

.max-width {
  width: clamp(20rem, 100vw - 2rem, 110rem);
}

.hero_center-element {
  position: relative;
}

.hero_center-element_texts {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  font-family: var(--fonts--secondary);
  color: var(--colors--white);
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  inset: -5% 0% auto;
}

.hero_title {
  z-index: 2;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  color: var(--colors--yellow-text);
  letter-spacing: -.4svh;
  white-space: nowrap;
  word-break: keep-all;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(2.5rem, 1.25rem + 2.5vw, 4rem);
  font-weight: 400;
  line-height: 1;
  position: relative;
}

.hero_title.is-gold-chain {
  z-index: 0;
  font-style: italic;
  position: relative;
}

.hero_title.is-in-dubai {
  z-index: 0;
  font-style: italic;
  position: relative;
  left: -3rem;
}

.hero_model-img {
  z-index: 1;
  pointer-events: none;
  position: relative;
}

.hero_title-second-row {
  display: flex;
  position: relative;
}

.nav_hamburger {
  color: var(--colors--white);
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  display: none;
}

.main-container {
  width: 100vw;
}

.about_texts-content {
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
  flex-flow: column;
  width: 100%;
  padding: 12rem 2.5rem;
  display: flex;
}

.about_heading {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  font-family: var(--fonts--secondary);
  color: var(--colors--dark-text);
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(2.5rem, 2vw, 2.5rem);
  line-height: 1;
  display: flex;
}

.no-wrap {
  white-space: nowrap;
  font-size: clamp(2.5rem, 2vw, 2.5rem);
  font-weight: 400;
}

.about_description-wrapper {
  display: flex;
}

.about-subhead {
  letter-spacing: -.05rem;
  text-transform: uppercase;
  width: 40%;
  font-size: .75rem;
  font-weight: 400;
}

.about_description-dash {
  aspect-ratio: 24 / 2;
  background-color: var(--colors--dark-text);
  vertical-align: middle;
  width: 1.5rem;
  height: 2px;
  margin-right: .5rem;
  display: inline-block;
}

.about_description-bold {
  white-space: nowrap;
  font-weight: 700;
}

.about_description {
  max-width: 83ch;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.3;
}

.about_paragraph-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  width: 60%;
  display: flex;
}

.about_images {
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.about_images-left {
  z-index: 2;
  width: 45vw;
  height: 100vh;
  position: absolute;
  left: 0;
  overflow: hidden;
  transform: none;
}

.about_images-right {
  width: 60vw;
  height: 100vh;
  padding-left: 7px;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.about_images-large {
  object-fit: cover;
  height: 120%;
}

.about_images-small {
  object-fit: cover;
}

.section_stats {
  font-family: var(--fonts--secondary);
  color: var(--colors--white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 300vh;
  display: flex;
  position: relative;
  top: 0;
}

.stats_img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  inset: 0%;
}

.stats_flex {
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  display: flex;
  position: relative;
}

.stats_item {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.stats_item.is-first {
  transform: translate(0, -6rem);
}

.stats_item.is-third {
  transform: translate(0, 6rem);
}

.stat_description {
  white-space: nowrap;
  font-size: clamp(1.5rem, 1.25vw, 3rem);
}

.div-block-5 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.stats_number {
  letter-spacing: -.3svh;
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-style: italic;
  line-height: 1;
}

.stats_unit {
  font-style: italic;
}

.new-hero_model-img {
  z-index: 2;
  position: relative;
}

.new-hero_title {
  z-index: 2;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  color: var(--colors--white);
  letter-spacing: -.2svh;
  white-space: nowrap;
  word-break: keep-all;
  mix-blend-mode: difference;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(2.5rem, 1.25rem + 2.5vw, 4rem);
  font-weight: 400;
  line-height: 1.4;
  position: relative;
}

.new-hero_title.is-above {
  z-index: 3;
  letter-spacing: -.2svh;
  font-size: clamp(2.5rem, 1.25rem + 2.5vw, 4rem);
}

.new-hero_center-element_texts {
  font-family: var(--fonts--secondary);
  color: var(--colors--white);
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -1rem;
  display: flex;
  position: absolute;
  inset: -1.4vw 0% auto;
}

.new-hero_center-element {
  position: relative;
}

.section_products {
  background-color: var(--colors--white);
}

.products_title-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.products_number {
  letter-spacing: -.05rem;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
}

.products_top-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  display: flex;
}

.products_top-description {
  max-width: 40ch;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.3;
}

.products_texts-content {
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
  flex-flow: column;
  width: 100%;
  padding: 12rem 2.5rem 3rem;
  display: flex;
}

.products_list {
  grid-column-gap: 0px;
  grid-row-gap: 4rem;
  grid-template: "Area Area . ."
                 ". . . ."
                 ". . Area-2 Area-2"
                 / 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100vw;
  padding-bottom: 6rem;
  display: grid;
}

.products_list.is-desktop {
  display: none;
}

.product_item {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.product_image-wrapper {
  aspect-ratio: 360 / 450;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.product_image-wrapper.is-wide {
  aspect-ratio: 720 / 450;
  width: 100%;
}

.product_details-wrapper {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: .75rem;
  padding-right: .75rem;
  display: flex;
}

.product_dot {
  background-color: var(--colors--black);
  width: 4px;
  height: 3px;
  margin-top: 10px;
}

.product_details-content {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  display: flex;
}

.products_details-bottom-texts {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.product_name {
  font-size: .875rem;
}

.product_detail-text {
  color: var(--colors--text-gray);
  font-size: .75rem;
}

.product_image, .image-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.products_list-tablet {
  grid-column-gap: 0px;
  grid-row-gap: 4rem;
  grid-template: "Area Area . ."
                 ". . . ."
                 ". . Area-2 Area-2"
                 / 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100vw;
  padding-bottom: 6rem;
  display: grid;
}

.hero_scroll {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 2rem;
}

.hero_scroll-icon {
  aspect-ratio: 1;
  color: var(--colors--gray-bg);
  flex: none;
  width: 3rem;
  height: 3rem;
}

.code-embed {
  background-image: url('../images/glbg-min.avif');
  background-position: 50%;
  background-size: auto;
}

.cover_scroll {
  background-color: var(--colors--white);
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.cover_image-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.section_cover-image {
  object-fit: cover;
  position: absolute;
  inset: 0%;
}

.cover_content-center {
  z-index: 2;
  grid-column-gap: 7rem;
  grid-row-gap: 7rem;
  mix-blend-mode: difference;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
}

.cover_big-titles {
  font-family: var(--fonts--secondary);
  color: var(--colors--white);
  font-size: 7.5rem;
}

.cover_content-up {
  z-index: 2;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  mix-blend-mode: difference;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  top: calc(50% - 17rem);
}

.cover_line {
  background-color: var(--colors--white);
  mix-blend-mode: difference;
  width: 1px;
  height: 7.5rem;
}

.text-block {
  font-family: var(--fonts--secondary);
  color: var(--colors--white);
  mix-blend-mode: difference;
  font-size: 1.5rem;
}

.cover_curtain {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
}

.cover_curtain-up, .cover_curtain-down {
  background-color: var(--colors--white);
  width: 100%;
  height: 50%;
  position: relative;
}

.section_cover {
  height: 500vh;
  position: relative;
}

._500vh {
  height: 500vh;
}

.div-block-6 {
  position: relative;
}

.stats_wrapper {
  font-family: var(--fonts--secondary);
  color: var(--colors--white);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: sticky;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .section_hero {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero_center-element {
    top: 2rem;
  }

  .hero_center-element_3d {
    position: relative;
  }

  .hero_title {
    letter-spacing: -.2svh;
  }

  .hero_title.is-in-dubai {
    left: auto;
  }

  .hero_model-img {
    height: 65vh;
    max-height: 26.875rem;
  }

  .nav_hamburger {
    display: flex;
  }

  .responsive-hidden {
    display: none;
  }

  .about_images-small {
    width: 120%;
    height: 120%;
  }

  .section_stats {
    min-height: 100vh;
  }

  .stats_img {
    height: 100%;
  }

  .stats_flex {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2rem);
  }

  .stats_item.is-first {
    transform: translate(-15rem);
  }

  .stats_item.is-third {
    transform: translate(15rem);
  }

  .new-hero_center-element_3d {
    position: relative;
  }

  .new-hero_model-img {
    height: 65vh;
    max-height: 26.875rem;
  }

  .new-hero_title {
    letter-spacing: -.2svh;
  }

  .new-hero_center-element_texts {
    top: -2.1vw;
  }

  .products_list {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product_dot {
    flex: none;
  }

  .products_details-bottom-texts {
    flex-flow: wrap;
  }

  .product_detail-text {
    white-space: nowrap;
  }

  .products_list-tablet {
    grid-row-gap: 4rem;
    grid-template: "."
                   "."
                   "."
                   "."
                   / minmax(150px, 1fr) minmax(150px, 1fr);
  }

  .hero_scroll {
    display: none;
  }

  .stats_wrapper {
    min-height: 100vh;
  }
}

@media screen and (max-width: 767px) {
  .about_texts-content {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    padding: 6rem 1rem;
  }

  .no-wrap {
    font-size: clamp(2rem, 2vw, 2.5rem);
  }

  .about-subhead {
    width: 30%;
  }

  .about_paragraph-wrapper {
    width: 70%;
  }

  .about_images-right {
    width: 70vw;
  }

  .stats_flex {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }

  .stats_item.is-first {
    transform: translate(-6rem);
  }

  .stats_item.is-third {
    transform: translate(6rem);
  }

  .products_texts-content {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    padding: 6rem 1rem;
  }

  .products_list {
    grid-template: "Area Area . ."
                   ". . . ."
                   ". . Area-2 Area-2"
                   ". . . ."
                   / 1fr 1fr 1fr;
  }

  .products_details-bottom-texts {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
    flex-flow: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .products_list-tablet {
    grid-row-gap: 4rem;
    grid-template: "."
                   "."
                   "."
                   "."
                   / minmax(200px, 1fr) minmax(200px, 1fr);
  }
}

@media screen and (max-width: 479px) {
  .hero_center-element {
    top: auto;
  }

  .hero_center-element_texts {
    top: -17%;
  }

  .hero_model-img {
    object-fit: contain;
  }

  .hero_title-second-row {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .about_heading {
    display: block;
  }

  .no-wrap {
    white-space: normal;
    vertical-align: middle;
    display: inline;
  }

  .stats_item.is-first, .stats_item.is-third {
    transform: translate(0);
  }

  .new-hero_model-img {
    object-fit: contain;
  }

  .new-hero_center-element {
    top: auto;
  }

  .products_list-tablet {
    grid-row-gap: 4rem;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  }
}

#w-node-_64386d4a-7bfc-42bc-7f3a-988b2945bf4a-2945bf4a {
  grid-area: span 1 / span 2 / span 1 / span 2;
}


