



/*show up */
.product_item {
    opacity: 0;
    transform: translateY(4rem);
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.product_item.in-view {
    opacity: 1;
    transform: translateY(0);
}